{% extends 'base.html' %}

{% block title %}
  Nova Montadora
{% endblock %}

{% block page_title %}
  Criar nova montadora:
{% endblock %}

{% block content %}
  <form action="/montadoras/criar/processar_form" method="post" class="form">
    <div class="form-group">
      <label for="name">Nome da montadora</label>
      <input id="name" name="name" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label for="country">País da montadora</label>
      <input id="country" name="country" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label for="foundation_year">Ano de Fundação</label>
      <input id="foundation_year" name="foundation_year" type="number" class="form-control" />
    </div>

    <input type="submit" value="Criar Montadora" />
  </form>
{% endblock %}
