{% extends "base.html" %}

{% block title %}
Excluir {{montadora.name}}
{% endblock %}

{% block page_title %}
Excluir {{montadora.name}}
{% endblock %}

{% block content %}
<div class="container d-flex">
  <form action="{{url_for('manufacturer_process_delete', m_id=montadora.id)}}" method="post">
    <input type="hidden" name="_method" value="delete">
    <div class="align-self-center">
      <h2>Tem certeza que deseja excluir a Montadora {{montadora.name}}?</h2>
      <h3>Excluirá junto {{quantidade_carros}} modelos de carro!</h3>
      <button class="btn btn-danger" type="submit">Excluir</button>
      <a href="{{url_for('home')}}" class="btn btn-secondary">
        Cancelar
      </a>
    </div>
  </form>
</div>

</form>
</div>
{% endblock content %}