{% extends "base.html" %}

{% block title %}
Excluir {{modelo_carro.name}}
{% endblock %}

{% block page_title %}
Excluir {{modelo_carro.name}}
{% endblock %}

{% block content %}
<div class="container d-flex">
  <form action="{{url_for('car_model_process_delete', car_model_id=modelo_carro.id)}}" method="post">
    <input type="hidden" name="_method" value="delete">
    <h2>Tem certeza que deseja excluir o modelo de carro {{modelo_carro.name}}?</h2>

    <div class="align-self-center">
      <button class="btn btn-danger" type="submit">Excluir</button>
      <a href="{{url_for('manufacturer_detail', m_id=modelo_carro.manufacturer_id)}}" class="btn btn-secondary">
        Cancelar
      </a>
    </div>
    
  </form>
</div>
{% endblock content %}